#Home {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 72px;
    background-color: #23272a;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#Home .HomeInner {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}



#Home .HomeTop {
    max-width: 1440px;
    padding-left: 10%;
    padding-right: 10%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 50%;
    z-index: 200
}

@media(max-width:800px) {
    #Home .HomeTop {
        -webkit-box-flex: 2;
        -moz-box-flex: 2;
        -o-box-flex: 2;
        box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2
    }
}
#Home .textWrapper {
    margin-bottom: 15px;
    font-family: poppins;
    text-align: center;
}

@media (max-width: 800px) {
    .textWrapper {
        margin: 30px 0;
    }
}

.textWrapper {
    max-width: 540px;
    text-align: left;
}

#Home .textWrapper h1 {
    font-weight: 600;
    font-size: 29px;
    margin-bottom: 3px;
    padding: 0;
    line-height: 1;
}

.textWrapper h1 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.textWrapper h1,
.textWrapper p {
    font-family: poppins;
}

h1 {
    font-family: poppins, Helvetica, arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0 10px;
    font-size: 20px;
    font-weight: 600;
}

#Home .textWrapper p {
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-top: 8px;
}

.textWrapper p {
    margin-top: 15px;
    color: rgba(255, 255, 255, .77);
    font-size: 14px;
}

@media (max-width: 800px) {
    #Home .buttonsWrapper {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

#Home .buttonsWrapper {
    margin-top: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

@media (max-width: 800px) {
    #Home .buttonsWrapper .buttonWrapper {
        margin-bottom: 20px;
    }
}

#Home .buttonsWrapper .buttonWrapper {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.button.brand.default {
    background-color: #62d3f5
}

.button.brand.default:hover {
    background-color: #32c5f2
}

.button.brand.default:focus {
    background-color: #0eb1e2
}

.button.grow {
    width: 100%
}

.button.large {
    height: 60px
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: open sans, Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    min-height: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    border: 0;
    font-size: 14px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    -webkit-transition: border 180ms ease-out, background 180ms ease-out;
    -moz-transition: border 180ms ease-out, background 180ms ease-out;
    -o-transition: border 180ms ease-out, background 180ms ease-out;
    -ms-transition: border 180ms ease-out, background 180ms ease-out;
    transition: border 180ms ease-out, background 180ms ease-out;
    color: #fff;
    -webkit-transition: border 180ms ease-out, background 180ms ease-out;
    -moz-transition: border 180ms ease-out, background 180ms ease-out;
    -o-transition: border 180ms ease-out, background 180ms ease-out;
    -ms-transition: border 180ms ease-out, background 180ms ease-out;
    transition: border 180ms ease-out, background 180ms ease-out;
}

#Home .buttonsWrapper .buttonWrapper img {
    margin-right: 12px;
    width: 22px;
}

.button.black.default {
    background-color: #000;
}

#Home .HomeBottom {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 50%;
}

#Home .HomeBottom .HomeManga {
    width: 90%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}



#Home .HomeBottom .HomeManga img {
    width: 100%;
    height: 100%;
}
@media (max-width: 640px) {
    #Home .HomeBottom .HomeManga img {
        width: 200%;
    }
}

@media (max-width: 800px) {
    #Home .buttonsWrapper {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    #Home .buttonsWrapper .buttonWrapper {
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    #Home .buttonsWrapper .buttonWrapper {
        margin-bottom: 20px;
    }
}

#Home .buttonsWrapper .buttonWrapper {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

@media(max-width:640px) {
    #Home {
        overflow: hidden
    }
}

